body {
    margin: 0;
}

header {
    padding: 10px;
    padding-left: 3%;
    background-color: #333;
}

main {
    font-family: 'Asar', serif;
    padding-left: 3%;
}

h1,
h2,
h3 {
    margin: 8px 0;
}

h1 {
    font-family: 'Asar', serif;
    color: #ccc;
    font-size: 2.5em;
}

h2 {
    font-family: 'Asar', serif;
    color: #bbb;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.6em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.controls {
    margin: 30px 0;
    button {
        height: 60px;
        width: 180px;
        font-size: 1.7em;
        margin:1%;
    }
}
#exchange {
  color: red;
}
